extends layout

block content
  .container.mt-4
    // About Section
    .row
      .col-md-12
        h1.text-center About DanceLover
        p.text-center  Your ultimate hub for exploring the world of dance!
    .row.mt-4
      .col-md-6
        h2.text-center WHAT WE DO
        p  our goal has been to bring Bhangra to a mainstream audience. We perform world wide as well as teach Bhangra classes to our local Bay Area community since 2019.    
      .col-md-6
        h2.text-center WHO WE ARE
        p  we are a group of students and young working professionals who are passionate at representing our Punjabi culture at an international level.    
    .row.mt-4
      .col-md-12
        h2.text-center WHY IT MATTERS
        p We use Bhangra as a vessel to help us stay connected to our culture. We've been given an amazing platform to spread Punjabi culture and hope to continue to do so for many years to come.DanceLover was created to simplify the search for Bhangra dance information. Whether you're looking for a nearby studio to practice, exploring different Bhangra styles, or just want to see the latest trending routines, our vision is to provide a central, easy-to-use hub for all dance lovers.

    .row.mt-4
      .col-md-12.text-center
        h3 Meet the Team
        // Team Member Cards
        .row.mt-4
          .col-md-4
            .card.shadow-sm
              img.card-img-top(src='/images/instructor1.jpeg', alt='Instructor 1')
              .card-body
                h5.card-title Rohanpreet
                p.card-text Punjabi Bhangra Dancer
          .col-md-4
            .card.shadow-sm
              img.card-img-top(src='/images/instructor2.jpeg', alt='Instructor 2')
              .card-body
                h5.card-title Neeru Bajwa
                p.card-text Giddha Dancer
          .col-md-4
            .card.shadow-sm
              img.card-img-top(src='/images/instructor3.jpeg', alt='Instructor 3')
              .card-body
                h5.card-title Amrinder gill
                p.card-text Jhoomer Dancer
